
.jumbotron .container-fluid h1  {
  font-size: 40px;
    color: white;

}

.jumbotron .container-fluid{
    background-color: darkblue;
    background: darkblue;
    color: white;
    padding: 80px;
}
.jumbotron .container-fluid .img-thumbnail{
    width: 130px;
    height: 130px;
    float: left;
    margin-right: 50px;
}