{% extends "layout.html" %}
{#test commit#}
{% block content %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <img src="images/premierlogo.jpg"  class="img-thumbnail">
        <h1> Premier League Table 2018-19 </h1>
      <p>The Premier League (often referred to as the English Premier League (EPL) outside England),
          is the top level of the English football league system. Contested by 20 clubs, it operates on a system of promotion and relegation with the English Football League.</p>
    </div>
  </div>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark ">
    <tr>
      <th scope="col">2018-2019</th>
      <th scope="col">Games Played</th>
      <th scope="col">Wins</th>
      <th scope="col">Draws</th>
      <th scope="col">Losses</th>
      <th scope="col">Points</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row"><a target="_blank" href="http://www.espn.com/soccer/club/_/id/395" >Watford</a></th>
      <td>4</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>12</td>
    </tr>
    <tr>
      <th scope="row"> <a target="_blank" href="http://www.espn.com/soccer/club/_/id/368" >Everton </a></th>
      <td>4</td>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>6</td>
    </tr>
    <tr>
      <th scope="row"><a target="_blank" href="http://www.espn.com/soccer/club/_/id/376" >Southampton</a></th>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th scope="row"><a target="_blank" href="http://www.espn.com/soccer/club/_/id/331" >Brington & Hove Albion</a></th>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th scope="row"><a target="_blank" href="http://www.espn.com/soccer/club/_/id/371" >West Ham United</a></th>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
    </tr>
    <tr>
      <th scope="row"><a target="_blank" href="http://www.espn.com/soccer/club/_/id/363" >Chelsea</a></th>
      <td>5</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
    </tr>
    <tr>
      <th scope="row"><a target="_blank" href="http://www.espn.com/soccer/club/_/id/364" >Liverpool</a></th>
      <td>5</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>15</td>
    </tr>
    <tr>
      <th scope="row"><a target="_blank" href="http://www.espn.com/soccer/club/_/id/382" >Manchester City</a></th>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>0</td>
      <td>13</td>
    </tr>
    </tbody>
  </table>


<div  id="paragraph1">
  <h4>Everton F.C.</h4>
    <p>Everton Football Club (/ˈɛvərtən/) is a football club in Liverpool, England, that competes in the Premier League,
        the top flight of English football. The club have competed in the top division for a record 114 seasons, missing the top division only four times (1930–31 and three consecutive seasons starting with 1951–52) since The Football League was created in 1888.
        Everton have won 15 major trophies: the League Championship nine times (fourth most as of 2017–18),
        the FA Cup five times (ninth most) and the UEFA Cup Winners Cup once.Formed in 1878,
        Everton were founding members of The Football League in 1888 and won their first League Championship two seasons later.
        Following four League Championship and two FA Cup wins, Everton experienced a lull in the immediate post World War Two period, until a revival in the 1960s, which saw the club win two League Championships and an FA Cup. The mid-1980s represented their most recent period of sustained success, with two League Championships, an FA Cup, and the 1985 European Cup Winners' Cup.
        The club's most recent major trophy was the 1995 FA Cup.
    </p>
</div>

  <div  id="paragraph2">
    <h4>Liverpool F.C.</h4>
    <p>Liverpool Football Club is a professional football club in Liverpool, England, that competes in the Premier League,
      the top tier of English football. The club has won 5 European Cups, more than any other English club, 3 UEFA Cups,
      3 UEFA Super Cups, 18 League titles, 7 FA Cups, 8 League Cups, and 15 FA Community Shields.Founded in 1892, the club
      joined the Football League the following year and has played at Anfield since its formation.
      Liverpool established itself as a major force in English and European football in the 1970s and 1980s when Bill Shankly and Bob Paisley led the club to 11 League titles and seven European trophies. Under the management of Rafael Benítez and captained by Steven Gerrard,
      Liverpool became European champions for the fifth time in 2005. Liverpool was the ninth highest-earning football club
      in the world in 2016–17, with an annual revenue of €424.2 million,[3] and the world's eighth most valuable football club in 2018, valued at $1.944 billion.[4] The club is one of the best supported teams in the world.[5] Liverpool has long-standing rivalries with Manchester United and Everton.
    </p>
  </div>
  <div  id="paragraph3">
    <h4>Chelsea F.C.</h4>
    <p>Chelsea Football Club is a professional football club in London, England, that competes in the Premier League. Founded in 1905, the club's home ground since then has been Stamford Bridge.[4]
      Chelsea won the First Division title in 1955, followed by various cup competitions between 1965 and 1971. The past two decades have seen sustained success, with the club winning 23 trophies since 1997.[5] In total,
      the club has won 28 major trophies; six titles, eight FA Cups, five League Cups and four FA Community Shields, one UEFA Champions League, two UEFA Cup Winners' Cups, one UEFA Europa League and one UEFA Super Cup.[6][7][8]
      Chelsea's regular kit colours are royal blue shirts and shorts with white socks. The club's crest has been changed several times in attempts to re-brand the club and modernise its image. The current crest, featuring a ceremonial lion
      rampant regardant holding a staff, is a modification of the one introduced in the early 1950s.[9] The club have the sixth-highest average all-time attendance in English football,[10] and for the 2017–18 season at 41,280.[11] Since 2003,
      Chelsea have been owned by Russian billionaire Roman Abramovich.[12] In 2018, they were ranked by Forbes magazine as the seventh most valuable football club in the world, at £1.54 billion ($2.06 billion) and in the 2016–17 season it was the
      eighth highest-earning football club in the world, having earned €428 million
    </p>
  </div>

{% endblock %}
